extends layout

block header
  include templates

block content
  .page-container
    .meet-pioneer
      .top-nav
        <a class="fork-banner" href="https://github.com/mojotech/pioneer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
        .large-contain
          img(src="img/band.svg" alt="").logo
          ul
            li.nav-link.about
              a(href="#about") ABOUT
            li.nav-link
              a(href="https://github.com/mojotech/pioneer/tree/master/docs") DOCS
            li.nav-link
              a(href="https://github.com/mojotech/pioneer/blob/master/docs/getting_started.md") GETTING STARTED
      p.headline MEET PIONEER

      .contain
        p.subheadline Pioneer is an easy to understand javascript DSL to interact with your app via a real browser and test its state against expectations.

      .half-fill
      .container.panes
        .browser-top
          ul.buttons
            li.button
            li.button
            li.button
        .top.left
        .top.middle
          #movie-theatre
        .top.right
        .bottom.left
        .cl

    .what
      .contain
        .what-block
          img(src="img/wagon.svg" alt="").blue-wagon
          h3.headline WHAT?
          p.description.
            Pioneer allows you to maintain a readable code base
            for both programmers and product owners.
            It makes writing and debugging integration tests simpler,
            saving you time and frustration. Pioneer is stack agnostic,
            you can use it against your jquery powered SPA all the way up
            to a complex Ember/Angular/Backbone app.

    .installing
      .contain
        h3 Installing

        pre
          | npm install pioneer

    .pieces
      .contain
        h3 The Pieces
        p Pioneer is composed of four pieces to keep your code as DRY as possible while maintaining layers of readability

    .components
      .contain#about
        ul
          li
            img.left.component-mark(src="img/cucumber.png" alt="")
            .left
              h6 Cucumber
              p
                | Your test outlines are written in the English-like Gherkin syntax that is both simple to write and straightforward to read. Gherkin is a *Business Readable*, *Domain Specific Language* that lets you describe software’s behavior without a tight coupling to the ever evolving implementation details. Gherkin serves two primary purposes — documentation and automated tests, but offers a third bonus feature— when it yells in red it’s talking to you, telling you what code you should write.
            .cl
          li
            img.left.component-mark(src="img/steps.png" alt="")
            .left
              h6 Step Definitions
              p
                | Step definitions contain the assertions about the state of your webpage. These step definitions are called from the cucumber steps. The steps compose multiple widgets and widget interactions to drive the UI into a state. Then you make assertions based on the state of the DOM.
            .cl
          li
            img.left.component-mark(src="img/widgets.png" alt="")
            .left
              h6 Widgets
              p
                | Widgets are wrappers around your DOM. They are reusable components that abstract the specifics of interacting with your app into isolated components. That can be quickly changed in your app when the markup or interaction specifics changes.
            .cl
          li
            img.left.component-mark(src="img/driver.png" alt="")
            .left
              h6 WebDriver / WebElements
              p
                | WebElements are the raw DOM elements on the page. They are what widgets wrap in a clean API for you to interact with.
            .cl
    .get-started.video
      .contain
        h3 Getting Started With Pioneer.
      .contain
        #getting-started

    .footer
      .contain
        p
         | Pioneer is made by the people at&nbsp;
         a(href="http://mojotech.com/", target="_blank") MojoTech
