doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='javascript integraion tests')
    meta(name='author', content= "MojoTech")
    meta(name="viewport", content="width=device-width")
    title= path
    link(rel='stylesheet', href='css/master.css')
    link(rel='shortcut icon' href='img/wagon_favicon.ico' type='image/x-icon')
    link(rel='icon' href='img/wagon_favicon.ico' type='image/x-icon')
    block header
  body
    block content

    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/lodash/dist/lodash.js")
    script(src="bower_components/backbone/backbone.js")
    script(src="bower_components/marionette/lib/backbone.marionette.js")
    script(src="js/headroom.js")
    script(src="js/swf.js")
    script(src="js/YoutubePlayer.js")
    script(src="js/models/codeline.js")
    script(src="js/collections/codelines.js")
    script(src="js/views/codeline.js")
    script(src="js/views/feature_window.js")
    script(src="js/views/step_window.js")
    script(src="js/views/terminal.js")
    script(src="js/main.js")

