doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='javascript integraion tests')
    meta(name='author', content= "MojoTech")
    title= path
    link(rel='stylesheet', href='css/master.css')
    script(src="js/main.js")
  body
    block content

