doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='javascript integraion tests')
    meta(name='author', content= "MojoTech")
    meta(name="viewport", content="width=device-width")
    title pioneer.js - javascript integration testing
    link(rel='stylesheet', href='css/master.css')
    link(rel='shortcut icon' href='img/wagon_favicon.ico' type='image/x-icon')
    link(rel='icon' href='img/wagon_favicon.ico' type='image/x-icon')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5925457-19', 'auto');
      ga('send', 'pageview');

    block header
  body
    block content

    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/lodash/dist/lodash.js")
    script(src="bower_components/backbone/backbone.js")
    script(src="bower_components/marionette/lib/backbone.marionette.js")
    script(src="js/headroom.js")
    script(src="js/swf.js")
    script(src="js/YoutubePlayer.js")
    script(src="js/models/codeline.js")
    script(src="js/collections/codelines.js")
    script(src="js/views/codeline.js")
    script(src="js/views/feature_window.js")
    script(src="js/views/step_window.js")
    script(src="js/views/terminal.js")
    script(src="js/main.js")

