script#codeline-template(type='text/template')<pre><code class='language-javascript'><%= text %></code></pre>
script#tab-layout-template(type="text/template")<div class='tabs'></div><div class='content'></div>
script#code-editor-template(type="text/template")<div id='js-editor'><input type='button' class='code-run' value='Run'/></div>
