.component-mark
  width: 10%
  margin-top: 20px

.components
  background-color: white
  padding-bottom: 50px

  ul
    margin: 0 auto
    overflow: auto
    max-width: 950px

  li
    clear: both
    margin-top: 40px
    div.left
      width: 80%
      padding-left: 5%

  h6
    font-size: 30px
    line-height: 40px

  p
    text-align: left
    line-height: 25px
    font-size: 14px
    color: #888888
