@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/gothambook.eot');
    src: url('../fonts/gothambook.eot') format('embedded-opentype'),
         url('../fonts/gothambook.woff') format('woff'),
         url('../fonts/gothambook.ttf') format('truetype'),
         url('../fonts/gothambook.svg#GothamBook') format('svg');
}
