.footer
  padding: 20px 0 20px
  margin-top: 30px
  border-top: solid 1px #F0F0F0

  p
    text-align: center
    max-width: 850px
    margin: 0 auto
    font-size: 13px
    color: #868686

  a
    color: rgb(0, 194, 255)
    text-decoration: none
