.headroom
  transition: transform 200ms linear

.top-nav
  z-index: 2
  position: fixed
  width: 100%
  margin: 0
  text-align: right
  line-height: 60px
  vertical-align: middle
  background: rgba(0, 0, 0, .02)
  transition: background 400ms

  &.scrolled
    background: rgba(0, 0, 0, .4)

  ul
    float: right
    li
      display: inline
      padding: 20px
      font-size: 12px
      a
        text-decoration: none
        &:link
          color: white
        &:visited
          color: white
        &:hover
          text-decoration: underline
      a.active
        color: $navy

  .logo
    float: left
    margin-top: 13px