.installing
  background-color: rgb(229, 229, 229)
  padding: 30px 0

  h3
    font-size: 30px
    max-width: 850px
    line-height: 50px

  pre
    text-align: left
    max-width: 850px
    line-height: 50px
    color: #A0A0A0
    font-size: 30px
    letter-spacing: 6px
    background: #DDD
    border-radius: 5px
    padding: 5px 20px
    overflow: hidden
    text-overflow: ellipsis

    &:before
      content: "$"
      margin-right: 10px
