@media screen and (max-width: 955px)
  .container.panes, .half-fill
    display: none

@media screen and (max-width: 865px)
  html
    .blue-wagon
      display: none
    .what-block .description
      margin-left: 0

@media screen and (max-width: 635px)
  .installing
    display: none


@media screen and (max-width: 600px)
  .component-mark.left
    height: 53px
    width auto
    float: none
    margin: 0 0
    padding-left: 30px

  .components li div.left
    width: 100%


@media screen and (max-width: 500px)
  .component-mark.left
    display: none
