@media screen and (max-width: 1156px)
  .top-nav ul
    margin-right: 100px

@media screen and (max-width: 740px)
  .top-nav ul
    margin: 0 auto
    display: block

  .get-started h3
    font-sixze: 20px

@media screen and (max-width: 955px)
  .container.panes, .half-fill
    display: none

@media screen and (max-width: 865px)
  html
    .blue-wagon
      display: none
    .what-block .description
      margin-left: 0

@media screen and (max-width: 710px)
  html .headline
    padding-top: 130px

  .top-nav
    text-align: center

    .logo, ul
      float: none

    ul
      margin-top: -30px

      li
        padding: 14px

@media screen and (max-width: 600px)
  .installing
    display: none

  .component-mark.left
    height: 53px
    width auto
    float: none
    margin: 0 0
    padding-left: 30px

  .components li div.left
    width: 100%


@media screen and (max-width: 500px)
  .component-mark.left, .about, .fork-banner
    display: none !important
