.what
  padding:    30px 0 60px
  background: $navy

.what-block
  .headline
    color: #eff888
    padding: 23px 0 10px;

  .description
    color: white
    margin-left: 100px
    text-align: left
    line-height: 25px
    font-size: 15px

.blue-wagon
  float: left
  display: inline
  margin-left: -50px
  margin-right: 50px
  margin-top: 30px
