global-reset()

h1, h3
  font-weight: bold
  font-size: 20px
  text-align: center
  margin: 20px 0

p
  text-align: center
  max-width: 650px
  margin: 0 auto

pre
  margin: 9px 0
  text-align: center
  font-family: monospace
.panes > div
  overflow: hidden
  box-sizing: border-box

.container
  width:      1000px
  margin:     20px auto
  min-height: 700px
  background: #474747

  pre
    text-align: left

.line
  font-size: 12px
  padding: 2px 0px 2px 0px
  line-height: 0px
  color: #f8f8f2
  cursor: pointer

  transition: all 200ms

.line.hovered
  background-color: rgba(0, 0, 0, 0.1)

.line.active
  background-color: rgba(0, 0, 0, 0.29)


.line.hidden
  display: none

.pre
  margin:0
  padding: 0.6em 0

.top
  height:  240px

.bottom
  height:50%
  display: block

.top
  float: left
  width: 33.3%

#movie-theatre
  position: relative
  left:50%
  top: 50%
  margin-left:-206px
  margin-top: -138px

.bottom.left
  width:100%
  height: 485px

/* Syntax Highlighting */
.function
  color: #66D9EF

.keyword
  color: #F92672

.variable
  color: #A6E22E

.string
  color: #E6DB74

.constant
  color: #AE81FF

